!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Exploreme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
  	.row
  	  .col.s12.m4.l3
  	    Navigation
  	  .col.s12.m8.l9
    		= yield
